#header{    width:1300px;   
            margin-left: 105px;
}
a:link{     color: #FF6C00;
            text-decoration: none;
}
a:visited{  color: #00FF00;
            text-decoration: none;
}
a:hover{    color: #FF00FF;
            text-decoration: none;
}
a:active{   color: #0000FF;
            text-decoration:none;
}
.logo{      width: 390px;   
            height: 153px;
            float: left;
            margin-left: 90px;
}
.banner{    width: 1300px;
}
*{  
   margin:0;  
   padding:0;  
}  
.nav{   height:40px;  
        width:750px;  
        margin:0 auto;
        margin-left: 600px;
        padding-top: 100px;
        font-weight: bold;
}  
.nav ul{  list-style:none;  
}  
ul li{  float:left;  
        line-height:40px;  
        text-align:center;  
}  
.nav a{ text-decoration:none;   
        display:block;  
        width:120px;  
        height:40px;  
}
ul li ul li{ float:none;  
}  
ul li ul{  display:none;  
}  
/*为了兼容IE7设置的CSS样式，但是又必须写在a:hover前面*/  
ul li ul li a:link,ul li ul li a:visited{   background-color:#EEEEEE;}  

.a21{       margin:20px 220px;
            width: 1200px;
            margin-top: 40px;
            background: #FFF;
            overflow: hidden;
            border: solid 1px #262027;
            padding: 10px;
            box-shadow: -1px 6px 8px 1px;
            margin: 10px;
            position: relative;
            left: 30px;
}
ul,li{list-style: none;}
.picbox  li{  width: 290px;
              height: 230px;
		      float: left;background: #000;
		      overflow: hidden;margin: 1px;
}
.picbox li img{width: 100%;height: 100%;}
.picbox li i {
	    display: block;
	    opacity: 0.5;
	    -moz-transition: all .5s ease;
	    -webkit-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	    -o-transition: all .5s ease;
	    transition: all .5s ease;
	    overflow: hidden;
}
.picbox  li:hover i {
	    opacity: 10;
	}
.picbox{
            width: 290px;
            height: 250px;
            border: 1px solid #262027;
            padding: 10px;
            box-shadow: -1px 6px 8px 1px #666;
            float: left;
            margin: 10px;
            margin-left: 60px;
                
}
.picbox img{
            width: 290px;
            height: 230px;
}
.picbox p{
            line-height: 30px;
            text-align: center;
            font-size: 15px;
            margin: 0;
            text-decoration: underline;
            margin-top: 5px;
}
.main2{     float: left;
            width: 1293px;
            height: 350px;
            background-color:#8F0F0F;
            margin-top: 50px;
}
.BL{         width: 200px;
            height: 315px;
            margin-top: 20px;
            float: left;
            color: #FFFFCC;
}
.M{         font-size: 15px;
            width: 200px;
            height: 10px;
            line-height: 2px;
            margin-top: 30px;
            float: left;
            margin-left: 90px;
            list-style-type: none;
}
.N{         font-size: 15px;
            width: 200px;
            height: 10px;
            line-height: 2px;
            margin-top: 6px;
            float: left;
            margin-left: 90px;
            list-style-type: none;
}
.O{         font-size: 15px;
            width: 200px;
            height: 10px;
            line-height: 2px;
            margin-top: 20px;
            float: left;
            margin-left: 90px;
            list-style-type: none;
}
.P{        font-size: 15px;
            width: 200px;
            height: 10px;
            line-height: 2px;
            margin-top: 8px;
            float: left;
            margin-left: 90px;
            list-style-type: none;
}
.Q{          font-size: 15px;
             width: 200px;
             height: 10px;
             line-height: 2px;
             margin-top: 8px;
             float: left;
             margin-left: 90px;
             list-style-type: none;
}           
.R{          font-size: 16px;
             width: 200px;
             height: 10px;
             line-height: 2px;
             margin-top: 30px;
             float: left;
             margin-left: 90px;
             list-style-type: none;
}
.S{          font-size: 15px;
             width: 260px;
             height: 10px;
             line-height: 2px;
             margin-top: 70px;
             float: left;
             margin-left: 60px;
             list-style-type: none;
}
.T{          font-size: 15px;
             width: 200px;
             height: 10px;
             line-height: 2px;
             margin-top: 30px;
             float: left;
             margin-left: 90px;
             list-style-type: none;
}
.U{          border-left: 2px solid #AAA;
             height: 260px;
             margin-left: 210px;
             margin-top: 50px;
             width: 0px;
             float: left;
} 
.V{          width: 250px;
             height: 345px;
             float: left;
             margin-left: 130px;
             margin-top: 25px;
}
.input2{	 width: 60px;
			 height: 30px;
			 background-color: chocolate;
			 border: soloid 3px gray;
			 margin-left: 50px;
			 color :cornsilk;
             margin-top: 6px;
}
.X{          border-left: 2px solid #AAA;
             height: 260px;
             margin-left: 130px;
             margin-top: 45px;
             width: 0px;
             float: left;
}
 #main4{     width: 130px;
             padding: 10px;
             float: left;
             margin-left: 70px;
             margin-top: 10px
}
.a{          width: 100px;
             height: 26px;
             background-color: #888;
             float: left;
             color: #fff;
             padding-top: 4px;
             margin-top: 20px;
             text-align: center;
}
.b{          width: 0;
             height: 0;
             border: 15px transparent solid;
             border-left-color: #888;
             margin-top: 20px;
             float: left;
}
.DD{         font-size: 16px;
             width: 270px;
             height: 10px;
             line-height: 8px;
             margin-top: 240px;
             margin-left: 950px;
             list-style-type: none;
             color: #FFFFCC;
}
.main3{     width: 0px;
            height: 0px;
            margin-left: 910px;            
}
.FF{         width: 360px;
             margin:0;
             padding-left: 10px;
            padding-top: 2px;
}
.FF li{      list-style-type: none;
             float: left;
             margin: 4px;
             margin-left: 9px;
}
.V{      
            width: 250px;
            height: 300px;
            float: left;
            margin: 15px;
            margin-left: 100px;
            margin-top: 50px;
            border-radius:10px;
}
.username{
            width: 284px;
            height: 38px;
            border-radius: 13px;
            margin: 1px auto;
            resize: none;
}
.bg{
            position: absolute;
            background-color: black;
            left: 220px;
            filter: alpha(opacity=6);
            -moz-opacity: 0.05;
            opacity: 0.03;
            font-size: 20px;
            color: White;
}